*.log
.env
.vault-pass
terraform.tfstate
terraform.tfstate.backup

apps/backend/prisma
node_modules/
dist/
.turbo
**/.terraform/*
/cypress/videos/
/cypress/screenshots/
test-results/
playwright-report/
.vscode/
.DS_Store
.idea

__pycache__/*
*.py[cod]
*$py.class
