.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: theme('colors.gray.500');

  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 12px 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #81838a;

    &:hover {
      background-color: theme('colors.gray.400');
    }
  }
}
