@import './palette.css';

:root {
  --font-primary: var(--basic-01);
  --font-primary-inverse: var(--basic-10);
  --font-secondary: var(--basic-03);
  --font-secondary-inverse: var(--opacity-09);
  --font-secondary-overlay: var(--opacity-06);
  --font-thertiary: var(--basic-02);
  --font-disable: var(--basic-05);
  --font-disable-inverse: var(--basic-10);
  --font-danger: var(--manila-03);
  --font-warning: var(--osaka-03);

  --border-divider: var(--basic-07);
  --border-counter: var(--basic-07);
  --border-input-active: var(--basic-01);
  --border-input-danger: var(--manila-04);
  --border-checkbox-danger: var(--manila-04);
  --border-border: var(--basic-10);

  --bg-layout-background: var(--basic-10);
  --bg-layout-section: var(--basic-10);
  --bg-modal-overlay: var(--opacity-02);
  --bg-modal-overlay-1: var(--opacity-04);
  --bg-pagination-active: var(--basic-01);
  --bg-pagination-default: var(--opacity-03);
  --bg-pagination-inverse-active: var(--basic-10);
  --bg-pagination-inverse-default: var(--opacity-06);
  --bg-button-secondary-default: var(--basic-09);
  --bg-button-secondary-hover: var(--basic-08);
  --bg-button-secondary-active: var(--basic-07);
  --bg-button-danger-default: var(--basic-09);
  --bg-button-danger-hover: var(--basic-08);
  --bg-button-danger-active: var(--basic-07);
  --bg-button-primary-inverse-default: var(--basic-10);
  --bg-button-primary-inverse-hover: var(--basic-09);
  --bg-button-primary-inverse-active: var(--basic-08);
  --bg-button-secondary-inverse-default: var(--opacity-08);
  --bg-button-secondary-inverse-hover: var(--opacity-07);
  --bg-button-secondary-inverse-active: var(--opacity-06);
  --bg-button-disable: var(--basic-08);
  --bg-badge-primary: var(--basic-09);
  --bg-badge-overlay-dark: var(--opacity-01);
  --bg-badge-overlay-light: var(--opacity-07);
  --bg-input-default: var(--basic-09);
  --bg-input-hover: var(--basic-07);
  --bg-input-active: var(--basic-09);
  --bg-input-danger-default: var(--manila-07);
  --bg-input-danger-hover: var(--manila-06);
  --bg-input-disable: var(--basic-08);
  --bg-checkbox-default: var(--basic-08);
  --bg-checkbox-hover: var(--basic-06);
  --bg-checkbox-danger-default: var(--manila-06);
  --bg-checkbox-danger-hover: var(--manila-05);
  --bg-checkbox-disable: var(--basic-08);
  --bg-control-primary-default: var(--basic-10);
  --bg-control-primary-hover: var(--basic-10);
  --bg-control-primary-active: var(--basic-10);
  --bg-control-secondary-default: var(--opacity-05);
  --bg-control-secondary-hover: var(--opacity-04);
  --bg-control-secondary-active: var(--opacity-04);
  --bg-control-secondary-inverse-default: var(--opacity-07);
  --bg-control-secondary-inverse-hover: var(--opacity-06);
  --bg-control-secondary-inverse-active: var(--opacity-06);
  --bg-control-overlay-hover: var(--opacity-03);
  --bg-dropdown-default: var(--basic-10);
  --bg-dropdown-hover: var(--basic-09);
  --bg-notification-dark: var(--opacity-02);
  --bg-notification-red: var(--manila-03);
}
