:root {
  --basic-01: #2b2d33;
  --basic-02: #585858;
  --basic-03: #9c9c9c;
  --basic-04: #c0c0c0;
  --basic-05: #d9d9d9;
  --basic-06: #e7e7e7;
  --basic-07: #eeeeee;
  --basic-08: #f3f3f3;
  --basic-09: #f7f7f7;
  --basic-10: #ffffff;
  --havana-01: #1a45c7;
  --havana-02: #2151e3;
  --havana-03: #265cff;
  --havana-04: #678dff;
  --havana-05: #c9d6ff;
  --havana-06: #e7edff;
  --havana-07: #f4f7ff;
  --manila-01: #cc1e42;
  --manila-02: #df2e53;
  --manila-03: #ee3c60;
  --manila-04: #ff7b96;
  --manila-05: #ffced8;
  --manila-06: #ffe7ec;
  --manila-07: #fff3f6;
  --osaka-01: #d14a00;
  --osaka-02: #e55609;
  --osaka-03: #ff7528;
  --osaka-04: #fea06c;
  --osaka-05: #fea06c;
  --osaka-06: #fff1e9;
  --osaka-07: #fff5ef;
  --porto-01: #01796b;
  --porto-02: #008e7d;
  --porto-03: #19b28d;
  --porto-04: #52c5a9;
  --porto-05: #bfe9df;
  --porto-06: #e8f7f4;
  --porto-07: #f0faf8;
  --opacity-01: rgba(0, 0, 0, 0.8);
  --opacity-02: rgba(0, 0, 0, 0.6);
  --opacity-03: rgba(0, 0, 0, 0.3);
  --opacity-04: rgba(0, 0, 0, 0.2);
  --opacity-05: rgba(0, 0, 0, 0.1);
  --opacity-06: rgba(255, 255, 255, 0.4);
  --opacity-07: rgba(255, 255, 255, 0.3);
  --opacity-08: rgba(255, 255, 255, 0.2);
  --opacity-09: rgba(255, 255, 255, 0.7);
}
